
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hammersmith+One&family=Roboto:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

:root {
    --cor-header: #f18700;
    --cor-aside: #6cbe99;
    --cor-titulos: #f9b000;
    --cor-linksecundario: #95c11f;
    --fonte-conteudo: 'Segoe UI', Tahoma, sans-serif;
  } 

          /*-----------HEADER------------*/
header {
  background-color: #f18700;
  width: 1349px;
  display: flex;
  height: 21vh;
  justify-content: center;
  /*position: fixed;*/

}

#container-header{
  width: 70%;
  height: 100%;
  display: flex;
}

#logo {
  width: 15vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
  height: 120px;
  width: 120px;
  border: 2px solid black;
  border-radius: 50%;
}

#container-nav {
  width: 75vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#titulo-principal #span01 {
  color: #125646;
  font-family: 'Hammersmith One', sans-serif;
  margin-right: 10px;
  font-size: 42px;
}

#titulo-principal #span02 {
  color: #f7f0f0;
  font-family: 'Playfair Display', serif;
}

nav {
  margin-top: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  
}
nav ul li {
  margin: 10px;
  padding: 0 5px 0 5px;
  border-right: 0.5px solid white; 
  border-left: 0.5px solid white;
 
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: sans-serif;
}

            /*-------------MAIN-------------*/
main {
  width: 1339px;
  height: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  background-color: #b8eed6 ;
}

main h2 {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
}

            /*---------------ARTICLE------------------*/

.retangulo {
    border-radius: 30px;
    border: 1px solid black;
    width: 330px;
    height: 340px;
    margin-left:auto;
    margin-right:auto; 
    background-color: #6cbe99 ;
}

.retangulo h2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.retangulo label {
    color: white;
    margin-left:29px;
    margin-right:auto; 
}

.retangulo input {
  padding: 0px 30px 0px 10px;
    margin-left:29px;
    margin-right:auto; 
    border: 1px solid black;
    border-radius: 4px;
    width: 230px;
    height: 20px;
    outline: none;
}

.regra input {
    width: auto;
    height: auto;
}
.regra {
    margin-left:30px;
    margin-right:auto;
}

.regra-2 {
  padding-top: 15px;
    margin-left:90px;
    margin-right:auto; 
}

#botao {
    display: flex;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #b9ecd5;
    outline:#0e4135;
    width: 60px;
    height: 25px;
    justify-content: center;
    padding: 0;
}

article {
  width: 70%;
  padding: 15px;
  padding-top: 30px;
  background-color: #ffffff;
  border-radius: 50px;
}

article h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  color: #f9b000;
}

article p {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #000000;
  margin-bottom: 15px;
}

article img {
  width: 250px;
  height: 200px;
  border: 2px solid #ffffff;
  margin-bottom: 15px;
  background-color: #f7f0f0;
}

#article02{
  padding-top: 20px;
}

#article02 h2 {
  padding-bottom: 10px;
}

#participantes{
  background-color: rgb(199, 248, 255);
  width: 900px;
  height: 80px;
  justify-content: center;
  border-radius: 15px;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid black;
}

#participantes h3 {
  color: #f9b000;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

article ul{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line:underline;

}

article ul li {
  padding-left: 30px;
  list-style: none;
}

        /*----------FOOTER-------------*/

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6cbe99;
}

#conteudo-footer{
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #125646;
  font-size: 20px;
  font-weight: bold;
}