
body{margin: 20px;}
.wrapper{
   
   margin-left: 40px;
}

.listNotice{
   
    list-style: none;
    position: absolute;
   
  
}
.listNotice li{

    width: 970px;
    height: 230px;
    position: relative;
    margin-left: -38px;
}

.listNotice li p{
  
    text-align:left;
    margin-left: 355px;
    margin-top: 10px;
   
    position: relative;
}

.image{
    width: 334.8px;
    height: 210px;
    padding: 10px;
   
}

.titleNotice{
    text-align: left;

    margin-left: 355px;
    margin-top: -200px;
 
    position: relative;
}
.allNotice{
    
    margin-left: 40px;
    border-bottom: rgb(184, 172, 172) solid 1px;
    padding-bottom: 40px;
     margin-bottom: 40px;
    
}
.allNotice .title{
    font-size: 60px;
}
.allNotice .allArticles{
    font-size: 20px;
    text-align: left;
     width:600px;
}