@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hammersmith+One&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #logo img {
    display: none;
  }

  header {
    height: auto;
    text-align: center;
    padding: 20px 0;
  }

  aside {
    color: #f7f0f0;
    margin: 0px 20px 0px 10px;
    background-color: #6cbe99;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    border-radius: 15px;
  }

  aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  aside ul li {
    margin: 5px 0;
    text-align: center;
    max-width: 200px;
  }
  footer #retornar-inicio {
    display: none;
  }
}

body {
  background-color: #f7f0f0;
  background-size: cover;
}

header {
  background-color: #f18700;
  width: 100%;
  display: flex;
  height: 22vh;
  justify-content: center;
}

#container-header {
  width: 70%;
  height: 100%;
  display: flex;
}

#logo {
  width: 15vw;
  height: 100%;
  display: flex;
}

#logo img {
  height: 105px;
  width: 110px;
  margin: 5px 0px 5px 0px;
  border: 2px solid #125646;
  border-radius: 50%;
}

#container-nav {
  width: 75vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titulo-principal #span01 {
  color: #125646;
  font-family: 'Hammersmith One', sans-serif;
  margin-right: 10px;
}

#titulo-principal #span02 {
  color: #f7f0f0;
  font-family: 'Playfair Display', serif;
}

nav {
  margin-top: 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 10px;
  padding: 0 5px 0 5px;
  border-right: 0.5px solid white;
  border-left: 0.5px solid white;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: sans-serif;
}

nav a:hover {
  text-decoration: underline;
  color: #6cbe99;
}

main {
  width: 100%;
  padding: 15px 0;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

article {
  width: 80%;
  padding: 15px;
  background-color: #f7f0f0;
  opacity: 1;
}

article h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  color: #f9b000;
  padding: 15px;
}

article p {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #000000;
  margin-bottom: 15px;
}

article img {
  width: 300px;
  height: 250px;
  border: 1px solid #f9b000;
  margin-bottom: 15px;
  background-color: #f7f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}

article img:hover {
  transform: scale(1.05);
}

aside {
  color: #f7f0f0;
  width: 20%;
  padding: 15px;
  background-color: #6cbe99;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  border-radius: 15px;
  height: 50%;
}

aside h3 {
  margin-top: 15px;
  color: #f9b000;
}

aside ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 70%;
  padding: 15px;
}

aside ul li {
  padding: 15px 0;
}

aside ul li a {
  text-decoration: none;
  color: #f7f0f0;
  font-weight: bolder;
  font-size: 20px;
}

aside ul li a:hover {
  color: #f18700;
  text-decoration: underline;
}

aside .grafico {
  padding: 15px 0;
}

aside iframe {
  width: 100%;
  padding-top: 10px;
}

aside img {
  width: 100%;
  padding-top: 10px;
}

aside ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: lower-roman;
  width: 70%;
  padding: 15px;
}

aside ol li {
  padding: 15px 0;
}

aside ol li a {
  text-decoration: none;
  color: #f7f0f0;
  font-weight: bolder;
  font-size: 20px;
}

aside ol li a:hover {
  color: #f18700;
  text-decoration: underline;
}

footer {
  width: 100%;
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6cbe99;
}

#conteudo-footer {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #125646;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

#conteudo-footer p {
  margin-right: 20px;
  font-size: 25px;
}

#conteudo-footer img {
  width: 35px;
  margin-top: 10px;
  border-radius: 50%;
  margin: 10px;
}

#conteudo-footer a {
  width: 2.2rem;
  border-radius: 50%;
  transition: all 0.4s;
  padding: 0px 5px 0px 5px;
}

#conteudo-footer a:hover {
  opacity: 0.8;
  transform: rotate(360deg);
}
