* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

#titulo-principal {
    padding: 10px;
    font-size: 30px;
    color: #66CC00;
}

#logo, #titulo-principal, #menu-navegacao {
    border: 2px solid black;
}